
.global-a
{
    margin-left: 15px;
    padding: 5px;
    font-size: 13px;
}

.global-a:hover
{
    font-weight: 500;
}

.light-text
{
    color: black;
}

.dark-text
{
   
    color: white; 
 
}

.preferences-container
{
    display: flex; 
    width: 100vw; 
    background-color: rgb(238, 238, 238);
    justify-content: flex-start;

}

a:hover
{
    cursor: pointer;
    
}

